# Flutter / Dart
coverage/
.dart_tool/
.buildlog/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
*.iml
.idea/
.vscode/*
!.vscode/extensions.json

# iOS / Android（generate 後）
**/Pods/
**/DerivedData/

# Misc
*.swp
.DS_Store
